.judul-kuning{
    color: yellow;
}

#mulai{
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.judul-merah{
    color: red;
}
.button{
	position: fixed;
	top: auto;
	left: 200px;
    height: 30px;
    width: 30px;
    color: blue;
}
.group{
    font-size: 20pt;
    font-family: monospace;
    max-width: 207px;
    max-height: 40px;
    white-space: nowrap;
    overflow: hidden;
}

hr{
    margin-top: 50px;
}